name: Build waybar-ical-timediff

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    environment: main
    steps: 
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Build application
        run: |
          nix build
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "result/bin/waybar-ical-timediff"
